.geosom-content {
    color: #ffc107; /* Yellow theme */
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
  }
  
  .geosom-content h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #ffc107;
  }
  
  .geosom-content p {
    margin-bottom: 20px;
  }
  .geosom-image {
    width: 100%; /* L'image occupe toute la largeur */
    max-width: 600px; /* Largeur maximale */
    height: auto; /* Maintient les proportions */
    display: block;
    margin: 20px auto; /* Centre l'image horizontalement */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Effet d'ombre */
  }
  
  