.historique-page {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Sommaire */
.historique-sidebar {
  flex: 0 0 250px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 20px;
}

.historique-sidebar h3 {
  font-size: 1.2rem;
  color: #6f42c1;
  margin-bottom: 10px;
  text-align: center;
}

.historique-sidebar ul {
  list-style: none;
  padding: 0;
}

.historique-sidebar li {
  margin-bottom: 10px;
}

.historique-sidebar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}



.historique-sidebar a:hover {
  background-color: green;
  color: red;
}

.historique-submenu {
  margin-left: 15px;
}

.historique-submenu a {
  font-size: 0.9rem;
  color: rgb(31, 23, 23);
}

/* Header et contenu principal */
.historique-header-and-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.historique-header {
  background-color: #6f42c1;
  color: white;
  text-align: center;
  padding: 15px 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.historique-header h1 {
  font-size: 2rem;
  margin: 0;
}

.historique-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.historique-content .title {
  text-align: center;
  margin-bottom: 20px;
  background-color: #66abf4;
  margin-top: 0px;
  
}
.historique-content .title h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.histoire-section {
  margin-bottom: 30px;
}

.histoire-section h3 {
  color: #064ede;
  margin-bottom: 10px;
}

.histoire-section p {
  margin-bottom: 10px;
  line-height: 1.6;
}
